/** Array style used for computing layout **/
.data-array {
    display: flex;
    min-height: 30px;
}

// .data.data-literal.array-item:not(.last-array-item):after {
//     content: ',';
//     color: var(--color-3);
// }

.data-array-brace {
    color: var(--color-3);
    font-weight: 400;
    font-family: var(--code-font-family);
}

.data-array-opening-brace {
}

.data-array-closing-brace {
}

.data.array-item:not(.first-array-item):not(.last-array-item) {
    // border-radius: 0px;
    // border-left: none;
}

.data.array-item {
    // margin-left: -1px;
}

.data.first-array-item {
    // border-radius: 7px 0px 0px 7px;
}

.data.last-array-item {
    // border-radius: 0px 7px 7px 0px;
    // border-left: none;
}

.data-array-index {
    background: none;
    position: absolute;
    font-size: 12px;
    opacity: 0.5;
    margin-left: 8px;
    margin-top: 6px;
}

.data-array-comma {
    color: var(--color-3);
    font-weight: 400;
    font-family: var(--code-font-family);
}
