.data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
}

.environment > .data:not(:first-child) {
    margin-left: 25px;
}

.data.hidden {
    opacity: 0 !important;
}

/* ------------------------ Focus ----------------------- */
.data.unfocused {
    opacity: 0.2 !important;
    // color: white !important;
    // filter: saturate(0);
}

.data {
    // transition-property: opacity, color;
    // transition-duration: var(--focus-duration);
}

.data.secondary-focused {
    color: var(--s-color-3);
    // opacity: 0.7;
}
