.data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
}

.environment > .data:not(:first-child) {
    margin-left: 25px;
}

.data.hidden {
    opacity: 0 !important;
}

.data-row {
    position: relative;
}

/* ------------------------ Focus ----------------------- */
.data.secondary-focused {
    color: var(--s-color-3);
}

.data.is-free {
    position: absolute;
}

/* ---------------------- Residual ---------------------- */
.data.is-residual {
    position: absolute;
    filter: saturate(0);
    opacity: 0.2;
    top: 0px;
    left: 0px;
}

.hole {
    position: relative;
}
