.data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    position: relative;
}

.environment > .data:not(:first-child) {
    margin-left: 25px;
}

.data.hidden {
    opacity: 0 !important;
}

/* ------------------------ Focus ----------------------- */
.data.secondary-focused {
    color: var(--s-color-3);
}

.data.is-free {
    position: absolute;
}
