.identifier {
    position: absolute;
    font-size: 12px;
    padding: 0px;
    padding-left: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    font-family: Fira Code;
    font-weight: 300;
    color: white;
}

.identifier.selected {
    color: var(--s-color-4);
    font-weight: 500;
}

.identifier.out {
    color: var(--s-color-4);
    font-weight: bold;
}
