.identifier {
    font-size: 12px;
    border-radius: var(--border-radius);
    font-family: var(--code-font-family);
    color: black;
    padding: 1px 2px 1px 2px;
    height: fit-content;
}

.identifier.selected {
    color: var(--s-color-4);
    font-weight: 500;
}

.identifier.ret {
    color: var(--s-color-3);
    font-weight: 500;
}

.identifier.trail-create {
    color: var(--s-color-2);
}

.identifier.trail-move {
    color: var(--s-color-3);
}

/* ------------------------ Focus ----------------------- */
.identifier.secondary-focused {
    color: var(--s-color-3);
    opacity: 0.7;
}

.identifier.identifier-write {
    color: var(--s-color-0-3);
}

.identifier.identifier-read {
    color: #ff9431;
}
