.identifier {
    font-size: 12px;
    border-radius: 5px;
    font-family: Fira Code;
    font-weight: 300;
    color: white;
}

.identifier.selected {
    color: var(--s-color-4);
    font-weight: 500;
}

.identifier.ret {
    color: var(--s-color-3);
    font-weight: 500;
}

.identifier.trail-create {
    color: var(--s-color-2);
}

.identifier.trail-move {
    color: var(--s-color-3);
}

/* ------------------------ Focus ----------------------- */
.identifier.secondary-focused {
    color: var(--s-color-3);
    opacity: 0.7;
}
