/** Literal style used for computing layout **/

.data-literal,
.data-function {
    font-size: 18px;
    font-family: Fira Code;
    color: #e879f9;
    padding: 0px 8px;
    min-height: 30px;
    font-weight: 400;
    position: relative;
    z-index: 10;
    width: fit-content;
}

.data-function {
    color: var(--s-color-2);
}

.data-literal.selected {
}

.data-literal:hover {
}

.data-function.selected {
}

.data-literal-string {
    color: #6ee7b7 !important;
}

.data-literal.trail-create {
    box-shadow: 0px 0px 0px 0.8px var(--s-color-2) inset;
}

.data-literal.trail-move {
    box-shadow: 0px 0px 0px 0.8px var(--s-color-3) inset;
}
