/** Literal style used for computing layout **/

.data-literal,
.data-function {
    font-size: var(--code-font-size);
    font-family: var(--code-font-family);
    color: var(--color-4-1);
    padding: 0px 4px;
    min-height: 20px;
    font-weight: 400;
    position: relative;
    z-index: 10;
    width: fit-content;
    font-size: 14px;
    transition-property: color;
    transition-duration: 0s; // Flashes if given a transition
}

.data-array > .hole > .data-literal {
    // padding: 0px 0px 0px 6px;
}

.data-literal.environment-write {
    color: var(--s-color-0-3);
}

.data-literal.environment-read {
    color: #ff9431;
}

.data-array > .hole:nth-child(2) > .data-literal {
    // padding: 0px 0px 0px 0px;
}

.data-function {
    color: var(--s-color-2);
}

.data-literal-string {
    color: var(--s-color-2) !important;
}

.data-literal.trail-create {
    box-shadow: 0px 0px 0px 0.8px var(--s-color-2) inset;
}

.data-literal.trail-move {
    box-shadow: 0px 0px 0px 0.8px var(--s-color-3) inset;
}

.data-literal.data-literal-boolean.true {
    color: var(--s-color-2);
}

.data-literal.data-literal-boolean.false {
    color: var(--s-color-5);
}
