.pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsla(0, 0, 0, 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(20, 20, 20) 0%,
            hsl(20, 30, 30) 8%,
            hsl(20, 30, 30) 92%,
            hsl(20, 30, 20) 100%);
}

.front {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 5px;
    border-radius: 12px;
    color: var(--color-4);
    background: var(--color-2);
    will-change: transform;
    transform: translateY(-2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}


.pushable:hover {
    filter: brightness(110%);
}

.pushable:hover .front {
    transform: translateY(-4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:active .front {
    transform: translateY(-1px);
    transition: transform 34ms;
}

.pushable:active .shadow {
    transform: translateY(0px);
    transition: transform 34ms;
}

.pushable:hover .shadow {
    transform: translateY(-1px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable:focus:not(:focus-visible) {
    outline: none;
}