#time-scrubber-container {
    width: 600px;
    /* background: grey; */
    height: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px var(--color-1) inset;

    display: flex;
    align-items: center;
    position: relative;
}

#time-scrubber {
    width: 1.5px;
    background: var(--color-4);
    height: 100%;
    margin-left: 0px;
    position: absolute;
    z-index: 1;
}

#time-scrubber.active {
    height: 70%;
}

.controls {
    display: flex;
    margin-top: 27px;
    position: absolute;
    margin-left: 188px;

    display: none;
}

.controls > * {
    margin-right: 10px;
}
