.data {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    transition-property: width, height, background, box-shadow;
    transition-duration: 1s;
}

.data.literal {
    background: #ebebeb;
    border: 1px solid #00000024;
}

.data.array {
    background: none;
}

.data.floating.literal {
    z-index: 10;
    background: #bddeff;
}

.data.array.floating > .brace {
    color: #bddeff;
}

.brace {
    opacity: 0.7;
}

.brace.opening {
    flex: 1;
}

.brace.closing {
    flex: 0;
}

.data.undefined {
    background: #ebebeb48 !important;
    box-shadow: 0px 0px 0px 1px rgba(122, 122, 122, 0);
    z-index: 0 !important;
}

.identifier {
    position: absolute;
    font-size: 14px;
}
