.environment {
    position: relative;
    transform-origin: top left;
    transform: scale(1);
}

.environment-border {
    position: absolute;
    transition: 0.3s ease;
    border-radius: 5px;
    user-select: none;
    pointer-events: none;
    z-index: -1;
}