.environment {
    background: #ffffff36;
    transition: 0.6s;
    position: relative;
    transform-origin: top left;
    transform: scale(1);

    padding: 15px;
    // border: 1px solid rgba(0, 0, 0, 0.137);
}
