.environment-i,
.environment {
    transform-origin: top left;
    transform: scale(1);
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.environment-i-container > *:not(.floating-i) {
    margin-right: 10px;
    margin-left: 10px;
}

.environment {
    position: absolute;
}

.environment-border {
    position: absolute;
    transition: 0.3s var(--transition-type);
    user-select: none;
    pointer-events: none;
    z-index: -1;
    left: 0px;
    top: 0px;
}

.environment-i-container {
    position: relative;
    display: flex;
}
