.view-i,
.view,
.leaf-view-i,
.leaf-view {
    display: flex;
    flex-direction: column;
    width: fit-content;
    transform: scale(1);
    transform-origin: top left;
    padding: 20px;
    margin: 15px;
    border-right: none;
    box-shadow: 0px 0px 0px 1px var(--color-1) inset;
    border-radius: 5px;
}

.root-view-container {
    position: absolute;
    top: 170px;
    left: 650px;
}

.view,
.leaf-view {
    position: absolute;
    margin: 0px;
}

.view.root {
    top: 0;
    left: 0;
    opacity: 0;
}

.view-label,
.leaf-view-label {
    position: absolute;
    top: -8px;
    left: 0px;
    display: flex;
    align-items: center;
    height: 14px;
    padding: 9px 4px;
    font-size: 12px;
    margin-left: 5px;
    color: white;
    background: var(--color-0);
    white-space: pre;
    // background: #9b8b84;
    background: #747474;
    border-radius: 5px;
}
