/* ------------------------------------------------------ */
/*              Coffee-like light brown theme             */
/* ------------------------------------------------------ */
:root {
    --color-0: #f7f4f3;
    --color-1: #eae2de;
    --color-2: #d2c8c6;
    --color-3: #ae9a98;
    --color-4: #482528;
    --color-5: #2f2625;
    --color-6: #171212;

    --s-color-0: #cfe2ea;
    --s-color-1: #bdc3c5;
    --s-color-2: #a0c4d0;
}
