/* ------------------------------------------------------ */
/*                       Dark theme                       */
/* ------------------------------------------------------ */

:root {
    --color-10: hsl(240, 9%, 7%);
    --color-0: hsl(0, 0%, 0%);
    --color-1: hsl(240, 6%, 10%);
    --color-2: hsl(240, 11%, 12%);
    --color-3: hsl(240, 8%, 21%);
    --color-4: hsl(0, 0%, 54%);
    --color-5: hsl(0, 0%, 71%);
    --color-6: hsl(0, 0%, 100%);
}
