:root {
    --color-0: #0e0e10;
    --color-1: #18181b;
    --color-2: #2c2c34;
    --color-3: #616161;
    --color-4: #8a8a8a;
    --color-5: #b6b6b6;
    --color-6: #ffffff;
    --s-color-0: #333536;
    --s-color-1: #4e4e4e;
    --s-color-2: #57c4ff;
}

.mtk1 {
    color: #ffffff !important;
}

.mtk12 {
    color: #6ee7b7 !important;
}

.mtk6 {
    color: #e879f9 !important;
}

.mtk26 {
    color: #7dd3fc !important;
}

.mtk13 {
    color: #a1a1aa !important;
}
