@import url('./main.scss');

:root {
    --color-lightest: rgb(0, 0, 0);
    --color-lighter: #0f0f0f;
    --color-light: #131313;
    --color: #1b1b1b;
    --color-darker: #b9b9b9;
    --color-darkest: white;
    --shadow-color: 0deg 0% 8%;
}

html {
    background: #1b1b1b;
}

body {
    color: white;

}

/** Syntax colors **/
.mtk6 {
    color: #79b8ff !important;
}

.editor-selection {
    position: absolute;
    background: #cccccc4d !important;
    border-radius: 5px;
    mix-blend-mode: multiply;
}

.monaco-editor .selected-text {
    background: #9696963b !important;
}

.highlight-cursor {
    background: #3939399c !important;
    mix-blend-mode: lighten !important;
}

.data-literal {
    background: #2b2d2e;
}

.data-literal.floating {
    background: #2b2d2e;
}

.data-undefined {
    background: #ebebeb07 !important;
    box-shadow: none;
}

.identifier {
    color: #b9b9b9;
}

.environment-border {
    border: 1px solid #333;
}

#time-scrubber-container {
    box-shadow: none;
    /* height: 10px; */
    border: 1px solid #ffffff0f;
    background: #ffffff05;
}

#time-scrubber-container:hover {
    box-shadow: none;

}

#time-scrubber {
    background-color: #ffffff71;
    width: 1px;
    height: 50%;
}

.time-section {
    background-color: rgba(255, 255, 255, 0.14);
}

.time-section:hover {
    background-color: #ffffff71;
    height: 15%;
}

.time-section.active .time-section-label {
    opacity: 1;
}

.time-section.active {
    background-color: #ffffff71;
    height: 15%;
}

.time-section-label {
    color: #ffffff71;
}

.button {
    box-shadow: none;
}

.button:hover {
    box-shadow: 0px 0px 0px 1px #dbdbde1f inset;
}

.button:active {
    background-color: #f3f5fa0a;
}

.button.active {
    background-color: #f3f5fa0a;
    box-shadow: 0px 0px 0px 1px #cecece2e inset;
}