/* ------------------------------------------------------ */
/*          Defines styles for source code editor         */
/* ------------------------------------------------------ */

/* ---------------------- Container --------------------- */

#editor {
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 7rem;
    // pointer-events: none;
}

/* ----------------------- Monaco ----------------------- */

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
    background-color: rgba(0, 0, 0, 0) !important;
}

.monaco-editor-background {
    /* background-color: var(--main-bg-color) !important; */
    background-color: rgba(0, 0, 0, 0) !important;
}

.monaco-editor .margin {
    /* background-color: var(--main-bg-color) !important; */
    background-color: rgba(0, 0, 0, 0) !important;
}

.monaco-editor .view-overlays .current-line {
    display: none;
}

.execution-decoration {
    left: 45px !important;

    width: 8px !important;
    height: 8px !important;

    border-radius: 50%;
    border: 1px solid #bfbebe;
    background-color: #00000008 !important;

    margin-top: 10%;

    display: none;
}

.monaco-editor .line-numbers {
    opacity: 0.7;
    font-size: 12px !important;
    margin-top: 2px !important;
    transition-property: opacity;
}

.monaco-editor .line-numbers:hover {
    opacity: 1 !important;
}

.line-selected {
    font-weight: 800 !important;
    opacity: 1 !important;
}

.core-guide {
    box-shadow: none !important;
}

.cigr {
    box-shadow: 0.5px 0 0 0 rgba(0, 0, 0, 0) inset !important;
}

.cigra {
    box-shadow: 0.5px 0 0 0 rgba(0, 0, 0, 0) inset !important;
}

.monaco-editor .margin-view-overlays .codicon-chevron-down {
    font-size: 80%;
}

.monaco-editor .margin-view-overlays .codicon-folding-collapsed,
.monaco-editor .margin-view-overlays .codicon-folding-expanded {
    font-size: 80% !important;
}

.cdr.bracket-match {
    opacity: 0.5;
    border: none !important;
    outline: none !important;
    border-radius: 3px;
    padding: 2px;
    background: none !important;
}

.monaco-editor .cursors-layer .cursor {
    // background-color: var(--color-6) !important;
    // transition-property: top, left;
    // transition: 0.1s;
    // opacity: 0.5;
    height: 20px !important;
    margin-top: 6px !important;
    margin-left: 0px !important;
}

.monaco-editor .scroll-decoration {
    box-shadow: none !important;
}

.lines-content {
    contain: none !important;
    overflow: visible !important;
}

.monaco-scrollable-element {
    overflow: visible !important;
}

.editor-selection {
    position: absolute;
    background: #e9e9e9a4;
    border-radius: var(--border-radius);
    mix-blend-mode: multiply;
}

.monaco-editor .codelens-decoration {
    color: #999999;
    margin-left: -10px;
    margin-top: -2px;
    opacity: 1;
}

.monaco-editor .codelens-decoration > span,
.monaco-editor .codelens-decoration > a {
    font-size: 14px;
}

.monaco-editor .editor-widget {
    display: none !important;
    visibility: hidden !important;
}

.view-line > span > span {
    display: inline-block;
}

.view-line > span > span.highlighted {
    transform: translate(3px, -3px);
}

.cdr.folded-background {
    opacity: 0;
}

/* -------------------- Syntax colors ------------------- */

.mtk18 {
    color: var(--color-4) !important;
    font-weight: bolder;
}

.mtk7,
.mtk1 {
    color: var(--color-5) !important;
}

.mtkz {
    color: var(--color-3) !important;
    opacity: 0.3;
}

span.mtk1 {
    color: #ffffff !important;
}

span.mtk13 {
    color: #6ee7b7 !important;
}

span.mtk7 {
    color: var(--s-color-1) !important;
}

span.mtk27 {
    color: var(--s-color-0) !important;
}

span.mtk14 {
    color: #a1a1aa !important;
}

/*
.mtk18 {
    color: #000000 !important;
    font-weight: bold !important;
}*/

/* ------------------- Error feedback ------------------- */

#errors {
    font-family: Fira Mono;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 177px;
    display: none;
    color: #d86f64;
}

#errors.active {
    display: inherit;
}

.monaco-hover {
    display: none !important;
}

/* ------------------------ Focus ----------------------- */
.view-line > span > span.is-focused {
    background-color: #161d23;
}
