/* ------------------------------------------------------ */
/*          Defines styles for source code editor         */
/* ------------------------------------------------------ */

/* ---------------------- Container --------------------- */

#editor {
    width: 100%;
    height: 100%;
    padding: 2rem;
    padding-top: 2rem;
    padding-left: 0px;
}

/* ----------------------- Monaco ----------------------- */

.monaco-editor .view-overlays .current-line {
    display: none;
}

.monaco-editor .line-numbers {
    opacity: 0.4;
    font-size: 18px !important;
    margin-top: 2px !important;
    transition-property: opacity;
    color: black !important;
}

.monaco-editor .line-numbers:hover {
    opacity: 1 !important;
}

.line-selected {
    font-weight: 800 !important;
    opacity: 1 !important;
}

.core-guide {
    box-shadow: none !important;
}

.cigr {
    box-shadow: 0.5px 0 0 0 rgba(0, 0, 0, 0) inset !important;
}

.cigra {
    box-shadow: 0.5px 0 0 0 rgba(0, 0, 0, 0) inset !important;
}

.monaco-editor .margin-view-overlays .codicon-chevron-down {
    font-size: 80%;
}

.monaco-editor .margin-view-overlays .codicon-folding-collapsed,
.monaco-editor .margin-view-overlays .codicon-folding-expanded {
    font-size: 80% !important;
}

.cdr.bracket-match {
    opacity: 0.5;
    border: none !important;
    outline: none !important;
    border-radius: 3px;
    padding: 2px;
    background: none !important;
}

.monaco-editor .cursors-layer .cursor {
    background-color: var(--color-6) !important;
    // transition-property: top, left;
    // transition: 0.1s;
    opacity: 0.8;
    height: 24px !important;
    margin-top: 8px !important;
    margin-left: 0px !important;
}

.monaco-editor .scroll-decoration {
    box-shadow: none !important;
}

.lines-content {
    contain: none !important;
    overflow: visible !important;
}

.monaco-scrollable-element {
    overflow: visible !important;
}

.monaco-editor .codelens-decoration {
    color: #999999;
    margin-left: -10px;
    margin-top: -2px;
    opacity: 1;
}

.monaco-editor .codelens-decoration > span,
.monaco-editor .codelens-decoration > a {
    font-size: 14px;
}

.monaco-editor .editor-widget {
    display: none !important;
    visibility: hidden !important;
}

.cdr.folded-background {
    opacity: 0;
}

/* -------------------- Syntax colors ------------------- */

// Generic
span.mtk1 {
    color: black !important;
}

// Literals
span.mtk7 {
    color: var(--s-color-0) !important;
}

// Keywords
span.mtk22 {
    color: var(--s-color-5) !important;
    font-weight: normal !important;
}

// In between keywords
span.mtk14 {
    color: #535359 !important;
}

// Strings
span.mtk32 {
    color: var(--s-color-2) !important;
}

// Comments
span.mtk8 {
    color: var(--color-4);
    font-style: italic;
}

/* ------------------- Error feedback ------------------- */

#errors {
    font-family: var(--code-font-family);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 50px;
    left: 177px;
    display: none;
    color: #d86f64;
}

#errors.active {
    display: inherit;
}

.monaco-hover {
    display: none !important;
}

/* ------------------------ Focus ----------------------- */
.view-line > span > span.is-focused {
    background-color: #161d23;
}
