/* ------------------------------------------------------ */
/*                   Entry point for CSS                  */
/* ------------------------------------------------------ */

/* ----------------------- Imports ---------------------- */

/* (code) Editor */
@import './editor.scss';

/* Generic */
@import './generic/checkbox.scss';
@import './generic/button.scss';

/* State */
@import './renderer/data/data.scss';
@import './renderer/data/literal.scss';
@import './renderer/data/array.scss';
@import './renderer/data/identifier.scss';
@import './renderer/view.scss';
@import './renderer/trail.scss';
@import './renderer/action.scss';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

/* ------------------- Color pallette ------------------- */

:root {
    --color-0: #ffffff;
    --color-1: #fafafa;
    --color-2: #dfdfdf;
    --color-3: #ccc;
    --color-4: #afafaf;
    --color-5: #272727;
    --color-6: #1a1a1a;

    --s-color-0: #2f6ab3;
    --s-color-0-1: #c8e8ff;
    --s-color-0-2: hsl(205, 100%, 80%);
    --s-color-0-3: #0488e5;
    --s-color-0-4: #8cc9f4;

    --s-color-1: #af46bf;
    --s-color-1-1: #f5c8ff;

    --s-color-2: #1ba44b;
    --s-color-2-1: #bce7cb;
    --s-color-2-2: #9bd9b0;
    --s-color-2-3: #226b3b;

    --s-color-3: #ffff81;
    --s-color-4: #9981ff;

    --s-color-5: #dc4958;
    --s-color-5-1: #ebbabf;
    --s-color-5-2: #db959c;
    --s-color-5-3: #944850;

    --focused-background: #b3dbff45;

    --path-color: #66b8ff21;
}

:root {
    --code-font-family: 'Ubuntu Mono', monospace;
    --code-font-size: 16px;
    --code-font-letter-spacing: -0.5;
    --code-font-line-height: 34px;
    --border-radius: 6px;
}

html {
    background: var(--color-0);
}

html,
body {
    margin: 0px;
    height: 100%;
    font-family: Source Sans Pro;
    overflow: hidden;

    color: var(--color-5);
}

/* --------------------- Tweak pane --------------------- */
.tp-dfwv {
    z-index: 10;
}

.tp-rotv {
    background: none !important;
    box-shadow: none !important;
    font-family: Source Sans Pro !important;
    font-size: 13px !important;

    --mo-fg: var(--color-4) !important;
}

.tp-fldv_b,
.tp-rotv_b {
    background-color: transparent !important;
}

.tp-fldv_m,
.tp-rotv_m {
    background: none !important;
}

.tp-fldv_t {
    opacity: 0 !important;
}

.tp-rotv_b {
    opacity: 0 !important;
}

.tp-lblv_l {
    opacity: 0;
}

.tp-dfwv:hover .tp-lblv_l {
    opacity: 1;
}

.tp-grlv_g,
.tp-sglv_i,
.tp-mllv_i {
    background: none !important;
}

/* --------------------- SVG canvas --------------------- */
.svg-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.svg-canvas.bottom {
    z-index: -1;
}

.svg-canvas.top {
    z-index: 100;
}

/* ---------------------- Selection --------------------- */
// ::-moz-selection {
//     /* Code for Firefox */
//     background: #484a5d;
// }

// ::selection {
//     background: #484a5d;
// }

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: #c8c8c8;
    outline: none;
    outline-offset: -2px;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}

.visualization-container {
    position: absolute;
    top: 0px;
    left: 320px;
    width: -webkit-fill-available;
    height: 100%;
    display: flex;
}
