@import "editor";
@import "view";
@import "checkbox";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");
@import url("https://css.gg/check.css");
@import url("https://css.gg/close.css");

:root {
  --color-lightest: white;
  --color-lighter: #f3f5fa;
  --color-light: #a4aec7;
  --color: #7d89a5;
  --color-darker: #48536d;
  --color-darkest: black;
}

html,
body {
  margin: 0px;
  height: 100%;
  font-family: Source Sans Pro;
  overflow: hidden;
  background: white;
}

#svg-canvas {
  z-index: 1;
  pointer-events: none;
}

#editor {
  width: 100%;
  height: 100%;
  padding: 7rem;
}

header {
  align-items: center;
  flex-direction: row;
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  z-index: 10;
  background: #fff;
  position: fixed;
  bottom: 0px;
  width: 100%;
  margin-bottom: 4rem;
}

header > div {
  /* padding-right: 8px; */
  /* flex: 1; */
  font-size: 14px;
  white-space: pre;
  opacity: 0.5;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: 0px 50px;
}

header > div.active {
  opacity: 1;
}

header > div.active .number-icon {
  background: #0000001f;
}

header .number-icon {
  background: #0000001f;
  width: 25px;
  border-radius: 50%;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

header .seperator {
  flex: 1 1 auto;
}

header .seperator > span {
  display: block;
  border-color: #bdbdbd;
  border-top-style: solid;
  border-top-width: 1px;
}

.question {
  margin-bottom: 5em;
  margin-top: -2rem;
  margin-left: 2.5rem;
}
