/* ------------------------------------------------------ */
/*                   Entry point for CSS                  */
/* ------------------------------------------------------ */

/* ----------------------- Imports ---------------------- */

/* (code) Editor */
@import './editor.scss';

/* Generic */
@import './generic/checkbox.scss';
@import './generic/button.scss';

/* State */
@import './renderer/data/data.scss';
@import './renderer/data/literal.scss';
@import './renderer/data/array.scss';
@import './renderer/data/identifier.scss';
@import './renderer/view.scss';
@import './renderer/timeline.scss';
@import './renderer/query.scss';
@import './renderer/trail.scss';
@import './renderer/action.scss';
@import './renderer/representation.scss';
@import './renderer/visualization.scss';

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');

/* ------------------- Color pallette ------------------- */

:root {
    --color-0: #ffffff;
    --color-1: #ebebeb;
    --color-2: #d4d4d4;
    --color-3: #afafaf;
    --color-4: #474747;
    --color-5: #272727;
    --color-6: #1a1a1a;

    --s-color-0: #7dd3fc;
    --s-color-1: #e879f9;
    --s-color-2: #6ee7b7;
    --s-color-3: #ffff81;
    --s-color-4: #9981ff;
    --s-color-5: #f97979;
}

:root {
    --transition-type: cubic-bezier(0.21, -0.07, 0.32, 1.6);

    --focus-duration: 0.8s;
}

html {
    background: var(--color-0);
}

html,
body {
    margin: 0px;
    height: 100%;
    font-family: Source Sans Pro;
    overflow: hidden;

    color: var(--color-5);
}

/* --------------------- Tweak pane --------------------- */
.tp-dfwv {
    z-index: 10;
}

.tp-rotv {
    background-color: var(--color-1) !important;
    font-family: Source Sans Pro !important;
    font-size: 13px !important;
}

.tp-fldv_b,
.tp-rotv_b {
    background-color: transparent !important;
}

/* --------------------- SVG canvas --------------------- */
.svg-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.svg-canvas.bottom {
    z-index: -1;
}

.svg-canvas.top {
    z-index: 100;
}

/* ---------------------- Selection --------------------- */
::-moz-selection {
    /* Code for Firefox */
    background: #484a5d;
}

::selection {
    background: #484a5d;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track-piece {
    background-color: #202028;
}

::-webkit-scrollbar-thumb {
    background-color: #343440;
    outline: none;
    outline-offset: -2px;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}
