.abstraction-indicator {
    position: absolute;
    border: 1.5px solid var(--s-color-1);
    border-radius: 5px;
    display: flex;
    transition-duration: 0.1s;
}

.abstraction-indicator.animation-node {
    border: 1.5px solid var(--color-1);
    user-select: none;
    z-index: -1;
}

.abstraction-indicator.animation-node .abstraction-controls {
    display: none;
}

.abstraction-controls {
    margin-left: -18px;
    margin-top: -5px;
}

.abstraction-controls.hidden {
    display: none;
}

.abstraction-cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    transform: scale(0.5);
    opacity: 0;
    transition-duration: 0.1s;
    border-radius: 50%;
    pointer-events: none;
    user-select: none;
}

.abstraction-cursor.active {
    transform: scale(1);
    opacity: 0.5;
    pointer-events: initial;
    user-select: inherit;
    z-index: 5;
    cursor: pointer;
}

.abstraction-selection {
    position: absolute;
    /* background: var(--s-color-2); */
    user-select: none;
    pointer-events: none;
    background: #111111;
    mix-blend-mode: screen;
    border-radius: 5px;
    opacity: 0;
}

.abstraction-selection.active {
    opacity: 0.5;
}

.abstraction-cursor.pressed {
    transform: scale(0.7);
    opacity: 0.8;
}

.abstraction-indicator.selected {
    border: 2px solid var(--s-color-2);
    z-index: 2;
}

.abstraction-indicator.hidden {
    border: 1.5px solid rgba(0, 0, 0, 0);
}
