/* ------------------------------------------------------ */
/*               Defines styles for actions               */
/* ------------------------------------------------------ */

.action {
    display: flex;
    position: absolute;
    border-radius: var(--border-radius);
    transition: 0.2s;
    z-index: -1;

    background: var(--color-1);
    // opacity: 0.7;
    box-shadow: 0px 0px 0px 0.5px var(--color-4);
}

.action.is-hovering {
    background-color: rgba(255, 255, 255, 0.09);
}

.action.is-showing-steps {
    background: none;
    box-shadow: none;
}

/* ----------------------- Mapping ---------------------- */
.action-mapping {
    display: flex;
    width: fit-content;
    height: -webkit-fill-available;

    background: var(--color-0);
    position: relative;

    min-width: 200px;
    border-left: 1px solid #0000001a;
    border-right: 1px solid #0000001a;
}

/* -------------------- Action proxy -------------------- */
.action-proxy {
    position: relative;

    display: flex;

    background: var(--color-3);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 0px 1px #b5b5b554 inset;

    transform: scale(1);
    // transition-property: background;
    // transition-duration: 0.2s;
    transition: 0.2s;
    // cursor: pointer;

    // border: 1px solid #ffffff30;

    height: fit-content;
    width: fit-content;

    min-width: 20px;
    min-height: 15px;

    user-select: none;
}

.action-proxy-container.is-spatial > .action-proxy {
    border-left: 1px solid #0000;
}

.action-proxy:not(.is-showing-steps) {
    max-width: 200px;
    max-height: 100px;
}

.action-proxy:hover {
    background: var(--color-4);
}

.action-proxy.is-showing-steps {
    background: none;
    box-shadow: 0px 0px 0px 0.5px var(--color-4) !important;
}

.action-proxy-binary-label {
    margin: 0px 5px;
}

/* ----------------- AST Specific Styles ---------------- */

// If statement
.action-proxy.Test {
    box-shadow: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: center;

    ._Test_true > ion-icon.md.hydrated {
        font-size: 10px;
        --ionicon-stroke-width: 79px;
        color: #6ee7b7;
    }

    ._Test_false > ion-icon.md.hydrated {
        font-size: 10px;
        --ionicon-stroke-width: 79px;
        color: #e76e6e;
    }
}

.action-proxy.type-Program,
.action-proxy.type-BlockStatement,
.action-proxy.type-FunctionCall {
    display: flex;
    flex-direction: column;
}

.action-proxy.type-Program.is-showing-steps,
.action-proxy.type-BlockStatement.is-showing-steps,
.action-proxy.type-FunctionCall.is-showing-steps {
    padding: 5px;

    > .action-proxy-container:not(:last-child) {
        margin-bottom: 5px;
    }

    > .action-proxy-placeholder:not(:last-child) {
        margin-bottom: 5px;
    }
}

.action-proxy.type-VariableDeclaration {
    flex-direction: row-reverse;
    box-shadow: none !important;
}

.action-proxy-equal-sign {
    font-family: var(--code-font-family);
    font-size: 14px;
    margin: 0px 7px;
    pointer-events: none;
}

.action-proxy-code-label {
    font-family: var(--code-font-family);
    font-size: 14px;
}

.action-proxy-for-iteration-top {
    display: flex;
}

.action-proxy-for-iteration-top > div:not(:last-child).action-proxy,
.action-proxy-for-iteration-top > div:not(:last-child).action-proxy-placeholder {
    margin-right: 7px;
}

.action-proxy-for-iteration {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    transition: 0.2s;
    padding: 3px;
    padding-left: 0px;
    position: relative;
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 0px 1px var(--color-2) !important;
    padding: 5px;
    width: fit-content;
}

.action-proxy-for-iteration.is-focused {
    padding: 5px;
}

.action-proxy-for-iteration::after {
    content: '';
    width: 33%;
    border-top: 1px solid var(--color-3);
    position: absolute;
    top: -3px;
    border: none !important;
}

.action-proxy-for-iteration.consumed + .action-proxy-for-iteration::after {
    border: none !important;
}

.action-proxy-for-iteration:first-child::after {
    border: none !important;
}

.action-proxy-abyss + .action-proxy-for-iteration::after {
    border: none !important;
}

.action-proxy-for-iteration:not(.is-focused):first-child {
    // padding-top: 0px;
}

.action-proxy-for-iteration:last-child {
    margin-bottom: 0px;
}

.action-proxy-for-iteration-bottom {
    margin-top: 4px;
}

.action-proxy-for-label {
    width: 25px;
    transition: 0.2s;
    height: 14px;
}

.action-proxy-for-iteration-top > div {
    margin-right: 2px;
}

.action-proxy-for-iteration-top > div:last-child {
    margin-right: 0px;
}

.action-proxy.type-Literal,
.action-proxy.type-Identifier {
    font-family: var(--code-font-family);
    justify-content: center;
    align-items: center;
    min-width: 9px;
    padding: 2px;
    font-size: 14px;
}

.action-proxy.is-trimmed {
    border: none !important;
    cursor: default !important;
    background: none !important;
    box-shadow: none !important;
    pointer-events: none !important;
}

.action-proxy.is-primitive {
}

.type-ArrayExpression > div:not(:last-child).action-proxy,
.type-ArrayExpression > div:not(:last-child).action-proxy-placeholder {
    margin-right: 7px;
}

.action-proxy.type-ForStatement.is-showing-steps {
    flex-direction: column;
    margin-left: 2px;
}

.action-proxy.type-ForStatement.is-showing-steps:not(.is-hovering):not(.is-focused) {
    box-shadow: none !important;
}

.action-proxy.type-MemberExpression > .action-proxy:not(:last-child) {
    margin-right: 8px;
}

.action-proxy.pre-label-Test._Test_true {
    background: var(--s-color-2-1) !important;
}

.action-proxy.pre-label-Test._Test_true:hover {
    background: var(--s-color-2-2) !important;
}

.action-proxy.pre-label-Test._Test_false {
    background: var(--s-color-5-1) !important;
}

.action-proxy.pre-label-Test._Test_false:hover {
    background: var(--s-color-5-2) !important;
}

.action-proxy.pre-label-Test {
    box-shadow: none;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    justify-content: center;
    width: 15px !important;
    height: 15px !important;

    min-width: 0px;
    min-height: 0px;

    > ion-icon {
        font-size: 10px;
        --ionicon-stroke-width: 79px;
    }
}

.action-proxy.pre-label-Test._Test_true > ion-icon.md.hydrated {
    color: var(--s-color-2-3);
}

.action-proxy.pre-label-Test._Test_false > ion-icon.md.hydrated {
    color: var(--s-color-5-3);
}

.action-proxy.type-IfStatement.is-showing-steps {
    flex-direction: column;
    box-shadow: none !important;
}

.action-proxy-if-row {
    display: flex;
    align-items: center;
}

.action-proxy-if-row:not(:last-child) {
    margin-bottom: 4px;
}

.action-proxy-if-placeholder {
    width: 33px;
    height: 15px;
    background: var(--color-3);
    border-radius: var(--border-radius);
    opacity: 0.5;
}

.action-proxy-if-label {
    margin-right: 10px;
}

.action-proxy.type-BlockStatement.pre-label-Alternate:not(.is-showing-steps) {
    max-width: 100px;
    max-height: 30px;
}

.action.type-Identifier {
    background: none;
    box-shadow: none;
}

.action-proxy-placeholder > .action-proxy.type-Arguments {
    width: 11px !important;
    height: 11px !important;
    min-width: 0px !important;
    min-height: 0px !important;
    box-shadow: none !important;
}

.action-proxy-return-label {
    margin-right: 5px;
}

.action-proxy.type-ReturnStatement.is-showing-steps {
    align-items: center;
}

.action-proxy.type-ReturnStatement.is-showing-steps:not(.is-hovering) {
    box-shadow: none !important;
}

.action-proxy.type-BinaryExpression.is-showing-steps {
    box-shadow: none !important;
}

.action-proxy.frameless {
    box-shadow: none !important;
    padding: 0px !important;
}

/* --------------------- Out of view -------------------- */
.out-of-view {
    pointer-events: none;
    opacity: 0;
}

/* -------------------- Control flow -------------------- */
svg.control-flow-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}

svg.control-flow-svg.control-flow-svg-overlay {
    z-index: 5;
}

@keyframes control-flow-show-stroke {
    0% {
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dashoffset: 5;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.control-flow-path {
    fill: none;
    stroke: var(--color-4);
    stroke-width: 2px;
    opacity: 0.4;
    stroke-linejoin: round;
}

.control-flow-path-overlay {
    fill: none;
    stroke: var(--color-4);
    stroke-width: 2px;
    opacity: 0.6;
}

.control-flow-path-completed {
    fill: none;
    stroke: var(--s-color-0);
    stroke-width: 1.5px;
    opacity: 0.5;
}

/* ---------------- Action mapping break ---------------- */
.action-mapping-break {
    position: absolute;
    width: 100%;
    border-top: 1px solid #363649;
}

/* --------------------- Expressions -------------------- */
.action-header.is-hidden {
    height: 0px;
}

.action.is-indented > .action-step-container > .action-header > .action-label {
    margin-left: 44px;
}

/* -------------------- Action cursor ------------------- */
.control-flow-cursor {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    background: var(--s-color-0);
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0.7;

    transition-property: box-shadow, transform, opacity;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;

    transform: scale(1.2);
    z-index: 100;
}

.control-flow-cursor.out-of-range {
    background: var(--color-5);
    opacity: 0.4;
}

.control-flow-cursor:hover {
    opacity: 1;
}

.control-flow-cursor.is-dragging {
    opacity: 1;
    transform: scale(1);
}

.control-flow-cursor.out-of-range:hover {
    opacity: 0.4;
    transform: scale(1);
}

.control-flow-cursor.is-dragging.out-of-range {
    opacity: 0.6;
    transform: scale(1.2);
}

// .action-cursor.proxy-is-hovering {
//     pointer-events: none;
// }

/* ----------------------- Trails ----------------------- */
.action-mapping-connection {
    fill: #0000;
    stroke: var(--path-color);
    stroke-width: 1px;
}

path.action-mapping-connection.hidden {
    opacity: 0 !important;
}

/* ----------------------- Cursor ----------------------- */

.action:not(.is-inline):not(.program) > .action-cursor {
    top: 58px;
}

.action-proxy {
    z-index: 1;
}

.action-proxy-label {
    white-space: pre;
    font-weight: 400;
    font-size: 14px;
}

.action-proxy.out-of-focus {
    // filter: brightness(0.5) !important;
    // transform: scale(0.5) !important;
}

/* ------------------ Proxy placeholder ----------------- */
.action-proxy-placeholder {
    background: var(--color-3);
    border-radius: var(--border-radius);
    cursor: initial;
    width: fit-content !important;
    min-height: 15px;
    height: 15px !important;
    min-width: 20px;
}

.action-proxy-container {
    transition-property: margin-bottom;
    transition-duration: 0.2s;
}

.action-proxy-container.is-spatial {
    position: absolute;
}

.action-proxy-container.is-spatial > .action-proxy.is-showing-steps {
    padding: 5px;
    background: var(--color-1);
}

.action-proxy-header {
    display: none;
    margin-bottom: 5px;
}

.action-proxy-container.is-spatial > .action-proxy-header {
    display: flex;
    flex-flow: row-reverse;
    justify-content: flex-end;
}

.action-proxy-ray {
    fill: #dedede;
    stroke: none;
    opacity: 0.5;
}

.action-proxy-ray.is-overlapping {
    opacity: 0 !important;
}

svg.ray-svg {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: visible;
    width: fit-content;
    height: fit-content;
    pointer-events: none;
    z-index: 1;
    mix-blend-mode: darken;
}

.action-mapping-svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.action-proxy-controls-button {
    margin: 0px 0px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: background, transform;
    transition-duration: 0.2s;
    transform: scale(0.8);
    background: var(--color-2);
    margin-right: 5px;
}

.action-proxy-controls-button:hover {
    background: var(--color-4);
    // transform: scale(1);
}

.action-proxy-controls {
    display: flex;
    font-family: monospace;
    align-items: center;
    z-index: 1;
    // margin-left: auto;
}

.action-proxy.clipped {
    overflow: hidden;
}

/* ---------------------- Minimized --------------------- */

@mixin action-minimized-mixin() {
    min-width: 0px !important;
    width: 0px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    margin: 0px !important;
    padding: 0px !important;
    height: 0px !important;
    min-height: 0px !important;
    border: none !important;
}

.fit-width {
    width: fit-content !important;
}

.action-proxy-container.is-minimized {
    margin-bottom: 0px;
}

.action-proxy-container.is-minimized {
    > .action-proxy.type-ExpressionStatement:not(.is-showing-steps) {
        height: 5px !important;
        min-height: 0px;
        max-width: 30px;
    }

    > .action-proxy.type-ForStatement:not(.is-showing-steps) {
        height: 5px !important;
        min-height: 0px;
        max-width: 30px;
        margin-top: 4px;
    }

    > .action-proxy.type-IfStatement:not(.is-showing-steps) {
        height: 5px !important;
        min-height: 0px;
        max-width: 30px;
        margin-top: 4px;
    }

    > .action-proxy.type-ExpressionStatement:not(.is-showing-steps):not(.is-hovering):not(.is-focused),
    > .action-proxy.type-ForStatement:not(.is-showing-steps):not(.is-hovering):not(.is-focused),
    > .action-proxy.type-IfStatement:not(.is-showing-steps):not(.is-hovering):not(.is-focused) {
        box-shadow: none !important;
    }

    .action-proxy.type-VariableDeclaration > .action-proxy-equal-sign {
        @include action-minimized-mixin();
    }

    > .action-proxy {
        min-height: 0px;
    }

    > .action-proxy {
        > .action-proxy-placeholder {
            height: 5px !important;
            min-height: 0px !important;
            box-shadow: none !important;
        }
    }
}

.action-proxy.type-VariableDeclaration > .action-proxy-container.is-minimized {
    > .action-proxy.type-Identifier,
    > .action-proxy.type-Literal {
        @include action-minimized-mixin();
    }
}

.action-proxy.type-VariableDeclaration > .action-proxy-container.is-minimized > .action-proxy {
    height: 5px !important;
    min-height: 0px !important;
    box-shadow: none !important;
}

.action-proxy.type-VariableDeclaration.is-focused > .action-proxy-container.is-minimized > .action-proxy {
    background: none !important;
}

.action-proxy-container.is-spatial.is-minimized {
    > .action-proxy {
        background: none !important;
        box-shadow: none !important;
        border-left: 1px solid #00000030;
        border-radius: 0px 10px;
        margin-left: 6px;
    }
}

.action-proxy-container.is-minimized {
    > .action-proxy.type-IfStatement.is-showing-steps {
        background: none !important;
        box-shadow: none !important;
        margin-top: 3px;
    }
}

.action-proxy-container.is-minimized > .type-IfStatement.is-showing-steps {
    .action-proxy-if-row {
        margin-bottom: 3px;
    }

    > * > .action-proxy-code-label,
    > * > .action-proxy-if-placeholder,
    > :first-child > .action-proxy-code-label {
        @include action-minimized-mixin();
    }
}

.action-proxy-if-row > .action-proxy-container.is-minimized > .pre-label-Test {
    height: 5px !important;

    > ion-icon {
        @include action-minimized-mixin();
    }
}

.action-proxy-container.is-minimized > .action-proxy-for-label {
    transform: scale(0.8);
    width: 15px;
    padding-left: 0px !important;
    transform-origin: left top;
}

.action-proxy-container.is-minimized > .action-proxy.type-ReturnStatement {
    > .action-proxy-return-label {
        transform: scale(0.8);
        width: 33px;
        padding-left: 0px !important;
        transform-origin: left top;
    }

    height: 5px !important;
}

.action-proxy-container.is-minimized > .action-proxy-if-label {
    transform: scale(0.8);
    width: 10px;
    padding-left: 0px !important;
    transform-origin: left top;
}

.action-proxy-container.is-minimized > .action-proxy.type-BinaryExpression {
    height: 5px !important;
}

.action-proxy-if-row:first-child {
    margin-top: 0px;
}

.action-proxy-container.is-minimized > .action-proxy.type-ForStatement.is-showing-steps {
    max-height: none;
    box-shadow: none !important;
    border-radius: 0px;

    > .action-proxy-for-label {
        @include action-minimized-mixin();
    }

    .action-proxy-for-iteration {
        margin-left: 0px !important;
        padding: 2px;
    }
}

.action-proxy-for-iteration-top > .action-proxy-container.is-minimized {
    > .action-proxy.pre-label-Test {
        height: 5px !important;

        > ion-icon {
            @include action-minimized-mixin();
        }
    }

    > .action-proxy.pre-label-Initial {
        height: 5px !important;
    }

    > .action-proxy.pre-label-Update {
        height: 5px !important;
    }

    > .action-proxy.pre-label-Update:not(.is-focused) {
        box-shadow: none !important;
    }
}

.action-proxy-for-iteration-bottom > .action-proxy-container.is-minimized > .action-proxy.type-BlockStatement {
    margin-left: 10px !important;
}

.action-proxy-for-iteration-bottom
    > .action-proxy-container.is-minimized
    > .action-proxy.type-BlockStatement:not(.is-showing-steps) {
    height: 5px !important;
    min-height: 0px !important;
    max-width: 60px;
}

.action-proxy-for-start-clone {
    pointer-events: none;
    opacity: 0.5;
}

.action-proxy-container.is-minimized
    > .action-proxy.type-ForStatement.is-showing-steps
    > .action-proxy-for-iteration
    > .action-proxy-for-iteration-top
    > .action-proxy-for-start-clone
    > .action-proxy {
    height: 5px !important;
    min-height: 0px !important;
    box-shadow: none !important;
    transform: scaleX(0);
}

.action-proxy-container.is-minimized
    > .action-proxy.type-ForStatement.is-showing-steps
    > .action-proxy-for-iteration::after {
    width: 110%;
}

.action-proxy-abyss {
    display: flex;
    width: fit-content;
    margin-bottom: 4px;
    transition: 0.2s;
}

.action-proxy-abyss-dots-container {
    border-radius: var(--border-radius);
    background: var(--s-color-0-1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 5px 3px;
    filter: hue-rotate(45deg);
    transition: 0.2s;
}

.action-proxy-abyss-dot {
    width: 5px;
    height: 5px;
    background: var(--s-color-0);
    border-radius: var(--border-radius);
    margin: 0px 2px;
    opacity: 0.5;
    transition: 0.2s;
    cursor: pointer;
}

.action-proxy-abyss.action-proxy-abyss-overflow
    > .action-proxy-abyss-dots-container
    > .action-proxy-abyss-dot:nth-child(2) {
    width: 12px;
}

.action-proxy-abyss-dot:hover {
    opacity: 1;
    width: 12px;
}

.action-proxy.is-hovering {
    box-shadow: 0px 0px 0px 1px var(--s-color-0-1) !important;
}

.action-proxy-abyss-empty {
    display: none;
}

.action-proxy-container.has-line-break {
    margin-top: 8px;
}

.action-proxy-container.is-minimized {
    > .action-proxy.type-Program.is-showing-steps,
    > .action-proxy.type-BlockStatement.is-showing-steps,
    > .action-proxy.type-FunctionCall.is-showing-steps {
        > .action-proxy-container:not(:last-child) {
            // margin-bottom: 3px !important;
        }

        > .action-proxy-placeholder:not(:last-child) {
            // margin-bottom: 3px !important;
        }
    }
}

// .action-proxy.has-line-break::after {
//     content: '';
//     width: 10px;
//     height: 5px;
//     border-radius: var(--border-radius);
//     background: var(--color-2);
//     position: absolute;
//     top: -8px;
//     left: 2px;
// }
.action-proxy.type-ForStatement > .action-proxy-abyss {
}

.action-proxy-container.is-minimized.has-line-break {
    margin-top: 4px;
}

.action-proxy-container.is-minimized > .action-proxy > .action-proxy-abyss {
    transform: scale(0.7);
    transform-origin: left;
}

.action-proxy-container.is-minimized > .action-proxy > .action-proxy-abyss > .action-proxy-abyss-dots-container {
    // background: none;
    // padding: 0px;
}

.action-proxy-container.is-minimized > .action-proxy.type-ForStatement > .action-proxy-abyss {
    margin-left: 0px;
}

.action-proxy-container > .action-proxy {
    transform-origin: left;
}

.action-proxy-container.consumed:not(.is-spatial) {
    @include action-minimized-mixin();
    margin-bottom: 0px !important;
}

.action-proxy-container.consumed.is-spatial > .action-proxy {
    @include action-minimized-mixin();
}

.action-proxy-container.consumed.is-spatial > .action-proxy-header {
    @include action-minimized-mixin();
}

.action-proxy-for-iteration.consumed {
    @include action-minimized-mixin();
    margin-bottom: 0px !important;
}

.action-proxy.type-Program {
    cursor: auto !important;
}

.action-proxy.type-FunctionCall {
    cursor: auto !important;
}

.action-proxy.type-VariableDeclaration {
    cursor: auto !important;
}

.action-proxy-abyss-label {
    font-size: 12px;
    font-family: Source Sans Pro;
    white-space: pre;
    color: #919191;
    margin: 0px 3px;
}

.action-proxy-abyss-label.is-hidden {
    @include action-minimized-mixin();
}

.action-proxy.is-focused {
    box-shadow: 0px 0px 0px 1px var(--s-color-0-2) !important;
    // background: #f1fbff !important;
    background: var(--focused-background) !important;
}

.action-proxy-for-iteration.is-focused {
    box-shadow: 0px 0px 0px 1px var(--s-color-0-2) !important;
    background: none !important;
}

.action-proxy-container.is-for-loop {
    display: flex;
    width: fit-content;
    border-radius: var(--border-radius);
}

.action-proxy-container.is-if-statement {
    display: flex;
    width: fit-content;
    border-radius: var(--border-radius);
}

.action-proxy-container.is-for-loop.is-hovering {
    box-shadow: 0px 0px 0px 1px var(--s-color-0-1) !important;
}

.action-proxy-container.is-if-statement.is-hovering {
    box-shadow: 0px 0px 0px 1px var(--s-color-0-1) !important;
}

.action-proxy-for-iteration.is-hovering {
    box-shadow: 0px 0px 0px 1px var(--s-color-0-1) !important;
}

.action-proxy-container.is-for-loop.is-focused {
    box-shadow: 0px 0px 0px 1px var(--s-color-0-2) !important;
    background: #f1fbff !important;
}

.action-proxy-container.is-if-statement.is-focused {
    box-shadow: 0px 0px 0px 1px var(--s-color-0-2) !important;
    background: #f1fbff !important;
}

.action-proxy-container.is-for-loop > .action-proxy-for-label {
    margin-right: 5px;
    padding-left: 3px;
}

.action-proxy-container.is-if-statement > .action-proxy-if-label {
    margin-right: 6px;
    padding-left: 3px;
}

.action-proxy-for-start-clone {
    background-color: var(--color-3);
    border-radius: var(--border-radius);
}

.action-proxy-container.is-for-loop.is-showing-steps {
    padding: 4px 0px;
    padding-right: 8px;
}

.action-proxy-container.is-for-loop.is-showing-steps.is-focused {
    background: none !important;
}

// .action-proxy-container.is-minimized > .action-proxy.type-BlockStatement {
//     box-shadow: none !important;
// }

.action-proxy-else-label {
    margin-left: -18px;
}

.action-proxy-container.is-singular > .action-proxy.type-BlockStatement {
    padding: 0px !important;
    box-shadow: none !important;
}

.mode-indicator-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
}

.mode-indicator {
    font-size: 10px;
    // background: var(--color-2);
    border-radius: var(--border-radius);
    margin: 4px;
    padding: 3px;
    width: fit-content;
    opacity: 0.6;
    color: black;
    transform: scale(1);
    transition: 0.2s;
}

.mode-indicator.active {
    opacity: 1;
    transform: scale(1.05);
}

.mode-indicator.pointer {
    box-shadow: 0px 0px 0px 1px var(--s-color-0-1);
}

.mode-indicator.destructor {
    box-shadow: 0px 0px 0px 1px var(--s-color-1-1);
}

.mode-indicator.abyss {
    box-shadow: 0px 0px 0px 1px var(--s-color-2-1);
}

.action-radius {
    opacity: 0.2;
    fill: red;
}

.intersection-indicator {
    opacity: 0;
}

.action-proxy.is-focused.is-showing-steps.type-FunctionCall {
    background: var(--color-1) !important;
}

.action-proxy-for-iteration:last-child > .action-proxy-for-iteration-bottom {
    margin: 0px !important;
}

.action-proxy-container.is-minimized > .action-proxy.is-focused.is-showing-steps.type-FunctionCall {
    background: none !important;
}

.action-proxy-abyss-dot-spatial {
    position: absolute;
}

.action-proxy-abyss.is-spatial > .action-proxy-abyss-dots-container {
    background: none !important;
}
