.view-cursor {
    position: absolute;
    border-radius: 5px;
    transition: 0.2s;
    pointer-events: none;
    display: flex;
    flex-direction: column-reverse;

    background: #3e75ac54;
    mix-blend-mode: lighten;
}

.view-cursor.start {
    opacity: 0;
}

.view-cursor-label {
    font-size: 14px;
    color: var(--color-5);
    margin-bottom: -25px;
    opacity: 0.5;
    white-space: pre;
}
