.view-cursor {
    position: absolute;
    /* background: #264f78; */
    /* background: #62b0ff; */
    background: #c1e0ff;
    mix-blend-mode: multiply;
    z-index: 10;
    border-radius: 5px;
    transition: 0.2s;
    pointer-events: none;
    /* opacity: 0 !important; */

    display: flex;
    flex-direction: column-reverse;
}

.view-cursor.start {
    opacity: 0;
}

.view-cursor-label {
    font-size: 14px;
    color: var(--color-5);
    margin-bottom: -25px;
    opacity: 0.5;
    white-space: pre;
}