@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.code-selection {
    position: absolute;

    border-radius: 7px;
    z-index: -1;
    transition: 0.2s;
    box-shadow: inset 0 0 0px 1px #5c5c5c63;
    animation: fadein 0.2s;
    background: #ffffff04;
}

.code-selection.fade-out {
    box-shadow: inset 0 0 0px 1px #5c5c5c00;
}

.code-selection.selected {
    box-shadow: inset 0 0 0px 1px var(--s-color-4);
}

.code-query-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    top: 0px;
    height: 100%;
}

.code-query-group {
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 10px;
    position: absolute;
    left: -14px;
    top: 0px;
    flex-direction: column;
    z-index: 1;
}

.code-query-indicator {
    background: var(--color-2);
    border-radius: 50%;
    width: 8px;
    height: 8px;

    transition: 0.2s;
    transform: scale(0.8);
}

.code-query-label {
    color: #cbcbcb9c;
    width: fit-content;
    user-select: none;
    margin-right: 2px;
    white-space: pre;
    font-size: 14px;
    font-weight: 300;

    position: absolute;
    left: -37px;
    top: 5px;
    top: -1px;
    opacity: 0;

    user-select: none;
    pointer-events: none;

    transition: 0.2s;
}

.code-query {
    position: relative;
    background: var(--color-0);
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;
    transition: 0.2s;

    animation: fadein 0.2s;
}

.code-query:not(:last-child) {
    margin-bottom: 10px;
}

.code-query:hover .code-query-label {
    opacity: 1;
}

.code-query:hover .code-query-indicator {
    background: var(--color-3);
}

.code-query.selected .code-query-label {
    opacity: 1;
}

.code-query.selected .code-query-indicator {
    background: var(--s-color-4);
    transform: scale(1);
}

.query-connection {
    fill: transparent;
    stroke: var(--color-2);
    stroke-width: 1px;
    z-index: -1;

    animation: fadein 0.2s;
}

.query-connection.selected {
    fill: transparent;
    stroke: var(--s-color-4);
    stroke-width: 1px;
    z-index: -1;
}

.query-connection.dashed {
    stroke-dasharray: 5, 5;
}
