.loop-rect {
    position: absolute;
    width: calc(100% - 52px);
    height: calc(100% - 48px);
    border-radius: 0px 0px 15px 0px;
    border: 1px solid rgba(255, 255, 255, 0.13);
    border-left: none;
    border-top: none;
    margin-left: 49px;
    margin-top: 32px;
    user-select: none;
    pointer-events: none;
}

.action-body.show-iterations > .action.iteration > .action-header > .action-label {
    /* content: '.' !important; */
    /* color: #ffffff00 !important; */
    width: 15px;
    height: 15px;
    overflow: hidden;
    background: var(--color-2);
    border-radius: 20px;
    transform: scale(0.5);
}

.action-body.show-iterations > .action.selected.iteration > .action-header > .action-label {
    transform: scale(1);
    background: var(--color-4);
}

.action-body.show-iterations {
    flex-direction: row;
}

.action-body.show-iterations > .action.iteration > .action-header > .action-label > span {
    opacity: 0 !important;
    box-shadow: none;
}
