@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showStroke {
    from {
        stroke-dashoffset: 200;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.trace-connection {
    fill: #0000;
    stroke: var(--color-2);
    stroke-width: 2px;
    z-index: -1;
    stroke-dasharray: 10 4;
    stroke-dashoffset: 0;
    animation: showStroke 10s;
}

.trace-start-circle {
    fill: var(--color-3);
    stroke: none;
}

.trace-end-arrow {
    fill: var(--color-3);
    stroke: none;
}

.trace-connection.selected {
    // stroke: var(--s-color-4);
    stroke: var(--s-color-4);
    opacity: 0.1;
    mix-blend-mode: overlay;
}

.trace-start-circle.selected {
    fill: var(--s-color-4);
}

.trace-end-arrow.selected {
    fill: var(--s-color-4);
}

.trace-indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--color-3);
    position: absolute;
    margin-left: -2.5px;
    margin-top: -2.5px;
    z-index: 11;
    animation: scaleUp 1s;
}

.trace-interactable {
    cursor: pointer;
    width: 5px;
    height: 5px;
    margin-left: -2.5px;
    margin-top: -2.5px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    transform: scale(1);
    transition-property: transform, opacity;
    transition-duration: 0.2s;
    z-index: 20;
    animation: scaleUp 0.2s;

    background: #e879f961;
}

.trace-interactable:hover {
    opacity: 1;
    transform: scale(1.2);
}

.trace-interactable .trace-tooltip-text {
    color: #cbcbcb9c;
    width: fit-content;
    user-select: none;
    margin-right: 5px;
    white-space: pre;
    font-size: 12px;
    font-weight: 300;
    transition: 0.1s;
    visibility: hidden;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -11px;
    left: 13px;
}

.trace-interactable:hover .trace-tooltip-text {
    visibility: visible;
}

.trace-tooltip-container {
    position: absolute;
    z-index: 20;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(5px);
    background: #0000005e;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
}

.trace-tooltip {
    position: absolute;
    border-radius: 5px;
    margin: 3px 0px;
    color: #cbcbcb9c;
    width: fit-content;
    user-select: none;
    margin-right: 5px;
    white-space: pre;
    font-size: 12px;
    font-weight: 300;
    font-family: Fira Code;
}

.global-trace-connection {
    fill: #0000;
    stroke: var(--color-2);
    stroke-width: 2px;
    z-index: -1;
    stroke-dasharray: 10 4;
    stroke-dashoffset: 0;
    animation: showStroke 10s;
}
