/* ------------------------------------------------------ */
/*                 Defines styles for view                */
/* ------------------------------------------------------ */

.view {
    position: relative;
    width: fit-content;
    border-radius: 7px;
    box-shadow: 0 0 16px 5px #111114;
    background: #141417;
    // transition: 0.2s;
    border: 1px solid #5c5c5c63;
    cursor: pointer;
    margin-left: 25px;
}
/* -------------- Start and end view rules -------------- */
.view.start,
.view.end {
    position: absolute;
}

.view.start {
    top: -44px;
    left: calc(0px - var(--timeline-indent));
}

.view.end {
    bottom: -55px;
    left: calc(0px - var(--timeline-indent));
}

/* ---------------- Hidden and minimized ---------------- */

.view.hidden,
.timeline.minimized > .view {
    opacity: 0;
    height: 4px;
    width: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    background: none;
    box-shadow: none;
    border: none;
    overflow: hidden;
}

/* --------------------- Environment -------------------- */
.environment {
    display: flex;
    align-items: center;
    position: relative;
    min-height: 30px;
    min-width: 30px;
}

.environment-column {
    padding: 15px;
    padding-top: 30px;
    border-right: 1px solid var(--color-2);
}

.environment-column:last-child {
    border-right: none;
}

.view.hidden > .environment {
    opacity: 0;
}
