.view {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

.view-body {
    position: relative;
    width: fit-content;
    // border-radius: 7px;
    // border: 1px solid #5c5c5c63;
    // backdrop-filter: blur(5px) brightness(1.2);
}

.view-start-node {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.233);

    position: absolute;

    left: -9px;
    top: 13px;
}

.view-end-node {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: none;
    position: absolute;
    backdrop-filter: blur(5px) brightness(1.2);
    border: 1px solid #5c5c5c63;
    left: -9px;
    top: 13px;
    background: #ffffff24;

    transition: 0.3s;
}

.view-end-node.expanded {
    border-radius: 7px;
    border-radius: 7px;

    background: #ffffff00;

    transition: 0.1s;
}

.view-header {
    padding: 5px;
    width: fit-content;
    margin-left: -4px;
    border-radius: 5px;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    transition: 0.2s;
}

.view-label {
    color: #cbcbcb9c;
    width: fit-content;

    user-select: none;
    margin-right: 2px;
    white-space: pre;

    font-size: 14px;

    font-weight: 300;

    transition: 0.5s;
}

.view.showing-steps.attached:not(.expanded) > .view-header {
    margin-left: -18px;
}

.view.playing.collapsed:not(.showing-steps) > .view-end-node {
    background: #7dd3fc;
}

.view.playing:not(.showing-steps) > .view-header > .view-label {
    color: #7dd3fc;
}

.view.showing-steps.collapsed.attached > .view-end-node {
    opacity: 0;
}

.view.showing-steps.collapsed.attached > .view-start-node {
    opacity: 0;
}

.view-header > .view-control-button {
    opacity: 0;
    pointer-events: none;
}

.view-header:hover > .view-control-button {
    opacity: inherit;
    pointer-events: inherit;
    opacity: 1;
}

.environment {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 40px;
    padding-bottom: 10px;
    margin: 10px;

    align-items: center;
    position: relative;
}

.animation-renderers-final {
    position: absolute;
    margin-top: -10px;
    opacity: 0.2;
    filter: saturate(0);
}

.view-steps-container {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    font-size: 14px;
    position: relative;
    transition: 0.2s;
}

.view.anchored-to-view .view-steps-container.hidden {
    // opacity: 0;
}

.view-steps-container.expanded {
    right: 0px;
}

.view-steps-container::before {
    content: '';
    height: calc(100% - 10px);
    background: #ffffff00;
    position: absolute;
    border-right: 1px solid #ffffff0a;
    left: -7.5px;
}

.view-label:hover {
    color: #e4e4e4;
}

.view-label:active {
    color: white;
}

.view-control-button {
    width: 10px;
    height: 10px;
    font-size: 12px;
    margin: 3px;
    transform: scale(1);
    transition: 0.2s;
    color: rgba(255, 255, 255, 0.349);
    cursor: pointer;
}

.view-control-button:hover {
    color: white;
    transform: scale(1.2);
}

.view-control-button:active,
.view-control-button.active {
    transform: scale(1);
    color: white;
}

.view-controls {
    position: absolute;
    bottom: -32px;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    padding: 10px;
    padding-left: 2px;
}

.view-controls.disabled {
    opacity: 0 !important;
    pointer-events: none;
}

.view:hover .view-controls {
    opacity: 1;
    pointer-events: inherit;
}

.view.collapsed {
}

.view.collapsed > .view-header {
}

.view.collapsed > .view-connections {
}

.view.attached {
    position: relative;
    left: 0px !important;
    top: 0px !important;
    display: flex;
    display: flex;
    flex-flow: column;
}

.view-anchor {
    width: 5px;
    height: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.view.anchored-to-view > .view-header > .view-label {
    font-size: 12px;
}

.view-start-node.anchored-to-view {
    opacity: 0;
    pointer-events: none;
}

.view-start-node.anchored-to-code {
    // background: #ffffff0a;
    border-radius: 7px;
    border: none;
    z-index: -1;

    border: 1px solid rgba(255, 255, 255, 0.1);
}

.animation-renderers-final .identifier {
    opacity: 0;
}

.animation-renderers-final .data-literal {
    color: #ffffff00;
}
