/* ------------------------------------------------------ */
/*                 Defines styles for view                */
/* ------------------------------------------------------ */

.view {
    height: fit-content;
    width: fit-content;
    left: 0px;
    top: 0px;
    position: relative;
    position: relative;
    display: flex;
    // background: var(--color-1);
    // box-shadow: 0px 0px 0px 0.5px var(--color-4) !important;
    // border-radius: var(--border-radius);
}

/* ------------------- Stack container ------------------ */
.view-stack-container {
    position: relative;

    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
    width: -webkit-fill-available;
}

.view-stack-container:last-child {
    margin-bottom: 0px;
}

.view-stack-container:first-child {
    margin-top: 0px;
}

.all-views-container {
    position: relative;
    width: -webkit-fill-available;
}

/* --------------------- Environment -------------------- */
.environment {
    display: flex;
    position: relative;
    min-height: 30px;
    min-width: 30px;
    grid-row-start: 1;
    grid-column-start: 1;
    flex-wrap: wrap;
    max-width: 450px;
}

.environment-column {
    padding: 5px;
    border-right: 1px solid #00000038;
}

.environment-column:last-child {
    border-right: none;
}

.view-stack-container.is-hidden > .environment {
    opacity: 0;
}

.identifier-row {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    height: 16px;
}

.identifier:not(:last-child) {
    margin-left: 5px;
}

svg.environment-svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    // transition: 0.2s;
    pointer-events: none;
}

.environment.is-hidden > .environment-column {
    opacity: 0;
}

.environment.is-hidden > .environment-svg {
    opacity: 0.4;
}

.view-stack-container:not(:last-child) {
    border-bottom: 1px solid var(--color-4);
}

.view-stack-container:not(:last-child):not(.inactive) {
    border-bottom: 1px solid #2c2c3499;
}

/* --------------------- View stack --------------------- */
.view-stack {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.view-stack.is-after > .environment:first-child > .environment-column {
    opacity: 0.2;
    filter: saturate(0);
}

.view-stack.is-before > .environment:last-child > .environment-column {
    opacity: 0.2;
    filter: saturate(0);
}

.environment-container {
    display: flex;
    width: fit-content;
    height: fit-content;
}

.environment-container.will-play {
    filter: saturate(0) brightness(0.5);
}

.view-label {
    white-space: pre;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}

.view-container {
    position: absolute;
}
