/** Literal style used for computing layout **/
.data-literal-i,
.data-literal {
    background: #ebebeb;
    border-radius: 7px;
    font-size: 16px;
    width: 50px;
    height: 50px;
}

/** Literal style used for rendering **/
.data-literal {}