/* ------------------------------------------------------ */
/*          Defines styles for control flow view          */
/* ------------------------------------------------------ */

.control-flow-view {
    width: 200px;
    background: lightblue;
    position: relative;
}

.control-flow-view-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.control-flow-step-container {
    position: absolute;
    top: 0;
    left: 0;
    background: lightpink;
    overflow: hidden;
    border: 1px solid black;
}

.control-flow-step-header {
    height: 20px;
    background: coral;
    overflow: hidden;
}

.control-flow-step {
    position: relative;
    overflow: hidden;
}

.control-flow-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
